.book-content{
	float: left;
	padding:20px;
}
.cover-img{
	float: left;
	padding: 20px;
}
.book-title{
	font-size: 32px;
}
.author{
	font-size: 24px;
}
.cont2{
	min-height: 700px;
}
.book-header{
	font-size: 16px;
}

.wrapper{
	box-shadow: 2px 2px 5px #888888;
}
.music-list{
	clear: both;
  	padding-left: 20px;
}
.music-content{
	clear: both;
	padding-left: 20px;
}
#homepage-logo{
	height: 64px;
	width: 64px;
}
.chart{
	margin-top: 40px;
	box-shadow:2px 2px 5px #888888;
}
#selectGenre{
	display: block;
	max-width: 250px;
}
#outer-chart-div{
	min-height: 400px;
}