$def with(data)
$var url:/
$var title: Books

<div class="input-field">
    <input placeholder="Search in books" id="book-search" type="text">         
</div>

<br><br>
<table id="bookTable" class="bordered wrapper">
	<thead>
		<tr>
			<td></td>
			<td>NAME</td>
			<td>GENRE</td>
			<td>AUTHOR</td>
		</tr>
	</thead>
	<tbody  id="bookResult">
	$for book in data:
		<tr>
			<td><a href="/book/$book['id']"><img src="$book['list_img']"></a></td>
			<td><a href="/book/$book['id']">$book['name']</a></td>
			<td>$book['gender']</td>
			<td>$book['author']</td>
		</tr>
	</tbody>
</table>
