$def with(data, quote)

$var title:$data['name'] 

<div>
<img class="cover-img" src=$data['img']>
	<div class="book-content">
	    <div class="book-title">Name: $data['name']</div>

	    <div class="author">Author: $data['author']</div>

	    <div class="price">Price: $data['price']</div>
	    $if data['content']:
	    	<div class="book-summary">Özet:$data['content']</div>

	    <div class="book-score">Score:$data['score']</div>

	    <!--<div class="book-score">Reviews:$data['reviews']</div>-->
	    <input type="button" id="getReview" value="GetReview" />
	</div>

<div id="comments"></div>
</div>
