$def with(data)

$var title:$data['name'] 

<div class="all-content">
<img class="cover-img" src=$data['img']>
	<div class="book-content">
	    <div class="book-title"> $data['name']</div>
	    
	    <div class="author">Author: $data['author']</div>
	    <div class="gender">Genre: $data['gender']</div>
	    <div class="price">Price $data['price']</div>
	    <div class="book-score">Score: $data['score']</div>
	    
	    <h4>Content</h4><hr>
	    $if data['content']:
	    	<div class="book-summary">$data['content']</div>
	    <br><br>
	    <input type="button" id="getReview" value="See Reviews" />
	    <br>
	    <div id="comments"></div>
	</div>


</div>
