$var url:/
$var title: Stats
<div class="chart">
	<center><h5>Top 10 Book Score</h5></center>
	<table id="table1">
		<thead>
			<tr>
				<td><b>Name</b></td>
				<td><b>Score</b></td>
			</tr>
		</thead>
	</table>

</div>
<div id="chart1" class="chart"></div>

<div id="outer-chart-div" class="chart">
	<center><h5>Genres & Books</h5></center>
	<select id="selectGenre">
	    <option value="Tarih">Tarih</option>
	    <option value="Politika">Politika</option>
	    <!--<option value="Türk Edebiyatı">Türk Edebiyatı</option>-->
	    <option value="Dünya Klasikleri">Dünya Klasikleri</option>
	    <option value="İnceleme">İnceleme</option>
	    <!--<option value="Polisiye">Polisiye</option>-->
	    <option value="Roman">Roman</option>
	    <option value="Deneme">Deneme</option>
	    <option value="Dünya Edebiyatı">Dünya Edebiyatı</option>
	</select>
	<div id="chart2"></div>
</div>
