$def with(data)
$var url:/
$var title: Musics
<div class="input-field">
    <input placeholder="Searc in musics" id="music-search" type="text">
    <br>
</div>
<br><br>
<table id="musicTable" class="bordered wrapper">
	<thead>
		<tr>
			<td></td>
			<td>NAME</td>
			<td>COMPOSER</td>
		</tr>
	</thead>
	<tbody id="musicResult">
	$for music in data:
		<tr>
			<td><a href="/music/$music['id']"><img src="$music['list_img']"></a></td>
			<td><a href="/music/$music['id']">$music['name']</a></td>
			<td>$music['composer']</td>
		</tr>
	</tbody>
</table>
